<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Edit Product
                        <small></small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <i data-feather="home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">My Account</li>
                    <li class="breadcrumb-item active">Edit Product</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row product-adding">
                        <div class="col-xl-5">
                            <div class="add-product">
                                <div class="row">
                                    <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                        <img src="<%= product.upload1 %>" alt=""
                                            class="img-fluid image_zoom_1 blur-up lazyloaded">
                                    </div>
                                    <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                        <form id="uploadform" action="/vendor/upload" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="uploadkey" id="uploadkey" value=""/>
                                            
                                            <input type="hidden"  name="prodguid" value="<%= product.guid %>"/>
                                        <ul class="file-upload-product">
                                            <li>
                                                <div class="box-input-file"><input id="upload1" class="upload" name ="upload"
                                                        type="file"><i class="fa fa-plus"></i></div>
                                            </li>
                                            <li>
                                                <div class="box-input-file"><input id="upload2" class="upload" name ="upload"
                                                        type="file"><i class="fa fa-plus"></i></div>
                                            </li>
                                            <li>
                                                <div class="box-input-file"><input id="upload3" class="upload" name ="upload"
                                                        type="file"><i class="fa fa-plus"></i></div>
                                            </li>
                                            <li>
                                                <div class="box-input-file"><input id="upload4" class="upload" name ="upload"
                                                        type="file"><i class="fa fa-plus"></i></div>
                                            </li>
                                            <li>
                                                <div class="box-input-file"><input id="upload5" class="upload" name ="upload"
                                                        type="file"><i class="fa fa-plus"></i></div>
                                            </li>
                                            <li>
                                                <div class="box-input-file"><input id="upload6" class="upload" name ="upload"
                                                        type="file"><i class="fa fa-plus"></i></div>
                                            </li>
                                        </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <form class="needs-validation add-product-form" action="/vendor/edit-product" method="post" novalidate="">
                                <input type="hidden"  name="guid" value="<%= product.guid %>"/>
                                
                                <!-- <p><%= JSON.stringify(product,null,4) %></p> -->
                                <div class="form">
                                    <div class="form-group mb-3 row">
                                        <label for="validationCustom01"
                                            class="col-xl-3 col-sm-4 mb-0">Title :</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <input class="form-control" id="validationCustom01" name="name"
                                                type="text" value="<%= product.name %>" required="">
                                        </div>
                                        <div class="valid-feedback">Looks good!</div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label for="validationCustom01"
                                            class="col-xl-3 col-sm-4 mb-0">Status :</label>
                                            <div class="col-xl-8 col-sm-7">
                                                <select name="categoryId" class="custom-select form-control" required="">
                                                    <option value="">--Select--</option>
                                                    <% for(x of statuses) { 
                                                        if(x.value == product.status){
                                                        %>
                                                        
                                                        <option selected value="<%= cat.id %>"><%= x.name %></option>
                                                        <% } else { %>
                                                        <option  value="<%= x.value %>"><%= x.name %></option>
                                                        <% }} %>
                                                </select>
                                            </div>
                                    </div>
                                    
                                    
                                    <div class="form-group mb-3 row">
                                        <label for="validationCustomUsername"
                                            class="col-xl-3 col-sm-4 mb-0">Tracking# :</label>
                                        <div class="col-xl-8 col-sm-7">
                                            <input class="form-control" id="validationTrackingNum" name="tracking_num"
                                                type="text" value="<%= product.product_code %>" required="">
                                        </div>
                                        <div class="invalid-feedback offset-sm-4 offset-xl-3">Please
                                            choose Valid Code.</div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->